
<div class="home-wrapper">
  <h1 style="margin: 30px 0 0 30px;"><a href="/">検索ページ</a></h1>

  <div style="margin-top: 50px; margin-left: 90px">
    <h2>ユーザーを検索する</h2>

    <%= form_with(url: search_customers_path, local: true, class: "search-form") do |f| %>
      <div class="search-form-content">

        <% flash.each do |message_type, message| %>
          <p class=<%= "flash-#{message_type}" %>><%= message %></p>
        <% end %>

        <p>以下、必須の条件<p>

        <%= f.text_field :seach_content, { name: "conditions[0][content]", placeholder: "検索したいユーザーのURLを入力", class: "content-field"  } %>
        を
        <%= f.select :search_type, TwitterSearcher.search_types_for_find, {}, { name: "conditions[0][search_type]", class: "search0-type-field" } %>

        <p>かつ</p>

        <p>以下、任意の条件</p>
        <%# <p>（最終的には、ボタンを押したら絞り込み条件を一つ追加できるようにしたい。最大で３個くらいつけられるようにする。）</p>
        <p>（ログイン機能を実装したら、ユーザーを検索している間は検索ができないようにする。）</p> %>

        <%= f.text_field :seach_content, { name: "narrow_down_conditions[0][content]", placeholder: "検索したいユーザーのURLを入力", class: "content-field"  } %>
        を
        <%= f.select :search_type, TwitterSearcher.search_types_for_narrow_down, {}, { name: "narrow_down_conditions[0][search_type]", class: "search0-type-field" } %>

        <%= f.submit "検索" %>
      </div>
    <% end %>
  </div>
</div>
