
<div class="home-wrapper">
  <h1 style="margin: 30px 0 0 30px;"><a href="/">検索ページ</a></h1>

  <div style="margin-top: 50px; margin-left: 90px">
    <h2>検索結果</h2>

    <p>取得したユーザーの情報が、随時掲載されます。</p>
    <p>一定時間経過後に、再度画面を更新してください。</p>
    <p style="font-size: 10px">※ ツイートを非表示にしているアカウント（鍵アカウント）は、検索結果に含まれません。</p>

    <div>
      <h3>メイン条件</h3>
      <ul>
        <% @main_conditions.each do |condition| %>
          <li>
            <a href=<%= condition.content %> target="__blank"><%= condition.content %></a>
            を
            <%= condition.human_attribute_enum("search_type") %>
          </li>
        <% end %>
      </ul>

      <h3>絞り込み条件</h3>

      <% if @narrowing_conditions.present? %>
        <ul>
          <% @narrowing_conditions.each do |condition| %>
            <li>
              <a href=<%= condition.content %> target="__blank"><%= condition.content %></a>
              を
              <%= condition.human_attribute_enum("search_type") %>
            </li>
          <% end %>
        </ul>
      <% else %>
        なし
      <% end %>
    </div>

    <div style="margin: 50px 0;">
      <p class="result-count">進行率: <%= @process.progress_rate == 100 ? "100%" : "現在取得中..." %> / 表示数: <%= @results.sum { _1.data.count } || 0 %></p>
      <% if @process.progress_rate == 100 %>
        <p class="result-count">結果: <%= @process.error_class.present? ? "取得に失敗しました" : "取得に成功しました" %> / エラーメッセージ: <%= @process.error_message || "なし" %></p>

        <% if @process.error_class == "TwitterApiClient::UnAuthorizedError" %>
          <% client_id = Rails.application.credentials.twitter.dig(:oauth, :client_id) %>
          <% redirect_uri = CGI.escape(Rails.application.credentials.twitter.dig(:oauth, :callback_url)) %>
          <% scopes = "tweet.read%20users.read%20like.read%20follows.read%20follows.write%20offline.access" %>
          <% auth_url = "https://twitter.com/i/oauth2/authorize?response_type=code&client_id=#{client_id}&redirect_uri=#{redirect_uri}&scope=#{scopes}&state=abc&code_challenge=abc&code_challenge_method=plain" %>
          <p><%= link_to '再度認証する', auth_url, method: :get %></p>
        <% end %>

      <% elsif @process.status_will_finish? %>
        <p class="result-count">中断処理を実行中です...</p>
      <% else %>
        <%= link_to "処理を中断する", "/process_stop/#{@process.id}", method: :post %>
      <% end %>
    </div>

       <%= paginate @results %>



    <div class="search-results">


      <% @results.each do |twitter_search_result| %>
     
      <% twitter_search_result.data.each do |result| %>
      
        <div class="user-info">
          <h3>
            <a href=<%= "https://twitter.com/#{result["username"]}" %> target="__blank">
              <%= result["name"] %>
              <span class="username"><%= "@#{result["username"]}  " %></span>
              </a>
          </h3>

          <p class="description"><%= result["description"] %></p>

          <p class="public-metrics">
            フォロー数: <%= result["public_metrics"]["following_count"] %> /
            フォロワー数: <%= result["public_metrics"]["followers_count"] %> /
            ツイート数: <%= result["public_metrics"]["tweet_count"] %> /
            リスト数: <%= result["public_metrics"]["listed_count"] %>
          </p>
        </div>

      <% end %>
      <% end %>
    </div>
  </div>
</div>
