
<div class="home-wrapper">
  <h1 style="margin: 30px 0 0 30px;"><a href="/">検索ページ</a></h1>

  <div style="margin-top: 50px; margin-left: 90px">
    <h2>検索結果</h2>

    <p>取得したユーザーの情報が、随時掲載されます。</p>
    <p>一定時間経過後に、再度画面を更新してください。</p>

    <div class="search-results">
      <p class="result-count">進行率: <%= @result.progress_rate == 100 ? "100%" : "現在取得中..." %> / ヒット数: <%= @result.payload&.count || 0 %></p>
      <% if @result.progress_rate == 100 %>
        <p class="result-count">結果: <%= @result.error_class.present? ? "取得に失敗しました" : "取得に成功しました" %> / エラーメッセージ: <%= @result.error_message || "なし" %></p>
      <% end %>

      <h3>メイン条件</h3>
      <ul>
        <% @main_conditions.each do |condition| %>
          <li>
            <a href=<%= condition.content %> target="__blank"><%= condition.content %></a>
            を
            <%= condition.human_attribute_enum("search_type") %>
          </li>
        <% end %>
      </ul>


      <h3>絞り込み条件</h3>

      <% if @narrowing_conditions.present? %>
        <ul>
          <% @narrowing_conditions.each do |condition| %>
            <a href=<%= condition.content %> target="__blank"><%= condition.content %></a>
            を
            <%= condition.human_attribute_enum("search_type") %>
          <% end %>
        </ul>
      <% else %>
        なし
      <% end %>

      <% @results.each do |result| %>
        <div class="user-info">
          <h3>
            <a href=<%= "https://twitter.com/#{result["username"]}" %> target="__blank">
              <%= result["name"] %>
              <span class="username"><%= "@#{result["username"]}  " %></span>
              </a>
          </h3>

          <p class="description"><%= result["description"] %></p>

          <p class="public-metrics">
            フォロー数: <%= result["public_metrics"]["following_count"] %> /
            フォロワー数: <%= result["public_metrics"]["followers_count"] %> /
            ツイート数: <%= result["public_metrics"]["tweet_count"] %> /
            リスト数: <%= result["public_metrics"]["listed_count"] %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
