<% results.each do |twitter_search_result| %>
  <% twitter_search_result.data.each do |result| %>
    <div class="tweet-info">
      <p><%= result["id"] %></p>
      <p><%= result["text"] %></p>
      <p><%= result["created_at"] %></p>

      <p class="public-metrics">
        いいね数: <%= result["public_metrics"]["like_count"] %> /
        リツイート数: <%= result["public_metrics"]["retweet_count"] %> /
        引用リツイート数: <%= result["public_metrics"]["quote_count"] %> /
        リプライ数: <%= result["public_metrics"]["reply_count"] %> /
        インプレッション数: <%= result["public_metrics"]["impression_count"] %>
      </p>
    </div>
  <% end %>
<% end %>